<h1><%= @location.name %></h1>
<a href="/locations/<%= @location.id %>/locations/new>new sub-location</a>
<a href="/locations/<%= @location.id %>/maps/new">new map</a>
<ul>
  <% @location.maps.each do |map| %>
    <li>
      <a href="/locations/<%= @location.id %>/maps/<%= map.id %>">
        <%= map.key %>
      </a>
    </li>
  <% end %>
</ul>
