<h1><%= @location.name %></h1>
<div>
  <a href="/locations/<%= @location.id %>/locations/new">new sub-location</a>
</div>
<div>
  <a href="/locations/<%= @location.id %>/maps/new">new map</a>
</div>
<div class="pad">
  <h2>maps</h2>
  <ol>
    <% @location.maps.each do |map| %>
      <li>
        <a href="/locations/<%= @location.id %>/maps/<%= map.id %>">
          <%= map.key %>
        </a>
      </li>
    <% end %>
  </ol>
</div>
